*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
server/bower_components
server/node_modules
server/public/javascripts/invaders-client-fastopt.js
server/public/javascripts/invaders-client-fastopt.js.map
server/public/javascripts/invaders-client-launcher.js
scalajs-invaders-client-fastopt.js
scalajs-invaders-client-fastopt.js.map
scalajs-invaders-client-launcher.js
phaser-invaders-client-fastopt.js
phaser-invaders-client-fastopt.js.map
phaser-invaders-client-launcher.js
